Source: wacomtablet
Section: kde
Priority: extra
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.3.16), cmake, kdelibs5-dev, pkg-kde-tools (>= 0.6.2),
 libxi-dev, libxrandr-dev, xserver-xorg-input-wacom
Standards-Version: 3.9.4
Homepage: http://projects.kde.org/projects/extragear/base/wacomtablet
Uploaders: Sune Vuorela <debian@pusling.com>, Lisandro Damián Nicanor Pérez Meyer <lisandro@debian.org>
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-extras/kcm-tablet.git;a=summary
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/kcm-tablet.git

Package: kde-config-tablet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ${shlibs:Recommends}, xserver-xorg-input-wacom
Description: implements a KDE configuration GUI for the Wacom drivers
 KDE 4 KCModule
 .
 This module implements a GUI for the Wacom Linux Drivers and extends it
 with profile support to handle different button / pen layouts per profile.
 .
 For hardware support have a look at http://www.linuxwacom.sourceforge.net
 .
 All tablets can be set up as long as they are found via xorg.conf or HAL 
 configuration.

